<h1>Photo Albums <small>Fun times and Travels</small></h1>

<div id="featured-slider"> 
      <%= image_tag(asset_path("slidepics/1.JPG")) %>
      <%= image_tag(asset_path("slidepics/2.JPG")) %>
</div>

Hello 
<script type="text/javascript">
	$(window).load(function() {
		$('#featured-slider').orbit();
	});
</script>


