<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	<div class="row">
		<div class="hero-unit">
				<div class="span7 pull-right">

					
	  	  		</div>


		<div class="span7">
	       <h1>Our Wedding</h1></br>
	       <p>Ksenia Milovanova & David Gonen </br>March 25th, 2012 </br>Beverly Hills Hotel</p>
	       <p><%= link_to "Read More &raquo;".html_safe, info_path, :class => "btn primary large" %></p>
		</div>

		
     </div>

	
      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Wedding Information</h2>
          <p>Will be held at the Beverly Hills Hotel on Sunday March 25, 2012</p>
          <p><%= link_to "Click for more &raquo;".html_safe, info_path, :class => "btn" %></p>
        </div>
        <div class="span-one-third">
          <h2>Photo Albums</h2>
           <p>See pics of David & Ksenia.  Their travels and life together so far. </p>
          <p><%= link_to "Click for more &raquo;".html_safe, albums_path, :class => "btn" %></p>
       </div>
        <div class="span-one-third">
          <h2>Gift Registry</h2>
          <p>Click to browse the wedding registry options.</p>
          <p><%= link_to "Click for more &raquo;".html_safe, registry_path, :class => "btn" %></p>
        </div>
      </div>

      <footer>
        <p>&copy; kseniadavid.com copyright 2012</p>
      </footer>

    </div> <!-- /container -->