<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
	<div class="row">
		<div class="hero-unit">
				<div class="span7 pull-right">
				    <a href="#">
	<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="288" height="192" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fdavidgonen%2Falbumid%2F5636393568703265569%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCI-y-rWAjuT77QE%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
	  	  		</div>


		<div class="span7">
	       <h1>Our Wedding</h1></br>
	       <p>Ksenia Milovanova & David Gonen </br>March 25th, 2012 </br>Beverly Hills Hotel</p>
	       <p><a class="btn primary large">Read more &raquo;</a></p>
		</div>

		
     </div>

	
      <!-- Example row of columns -->
      <div class="row">
        <div class="span-one-third">
          <h2>Wedding Information</h2>
          <p>Will be held at the Beverly Hills Hotel on Sunday March 25, 2012</p>
          <p><a class="btn" href="#">Click for more  &raquo;</a></p>
        </div>
        <div class="span-one-third">
          <h2>Photo Albums</h2>
           <p>See pics of David & Ksenia.  Their travels and life together so far. </p>
          <p><a class="btn" href="#">Click for more &raquo;</a></p>
       </div>
        <div class="span-one-third">
          <h2>Gift Registry</h2>
          <p>Click to browse the wedding registry options.</p>
          <p><a class="btn" href="#">Click for More &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; kseniadavid.com copyright 2012</p>
      </footer>

    </div> <!-- /container -->