<div class="content">
<h1>Wedding Information <small>Venue, Time, Dress Code, & other details</small></h1>

  <hr>
  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
			<%= image_tag "http://cdn.media.kiwicollection.com/media/property/PR001224/xl/001224-01-exterior-pink-daytime.jpg", :class=>"medium" %>

    </div>
	<div class="pull-right">
    <div class="span9">
      <h2 class="pull-right">The Beverly Hills Hotel</h2>
    </div>
	</div>
  </div>
</br>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span-one-third">
      <h2>Venue</h2>
      
		<address>The Beverly Hills Hotel</br>Rodeo Room</br>9641 Sunset Blvd </br>Beverly Hills, CA 90210</br></address>
    </div>
    <div class="span-one-third">
      <h2>Time</h2>
       <p>Sunday March 25, 2012 5pm</p>

   </div>
    <div class="span-one-third">
      <h2>Dress Code</h2>
      <p>Black Tie Invited.</p>
 
    </div>
  </div>